body{
    background-color: rgb(15, 17, 19);
}
h3 {
    font-weight: 700;
}
aside{
    width: 250px;
    height: 100vh;
    background-color: rgb(23, 26, 29);
    transition: all 0.6s ease;
    margin: 0px;
    z-index: 999;
}
.opener {
    transition: all 0.6s cubic-bezier(0.22, 0.61, 0.36, 1);
    left: -250px;
}
li {
    display: inline-block;
}
ul{
    display: inline;
}
li::marker{
    display: none !important;
}
.alert-info{
    width: fit-content;
    font-size: 14px;
    padding: 0px !important;
    border: 0px;
    color: rgba(0, 0, 0, 0.904);
    font-weight: 500;
}
a {
    text-decoration: none;
    color: hwb(0 85% 15%);
    transition: all 0.3s ease;
    cursor: pointer;
}
a:hover {
    color: white;
}
.asidetoggle {
    height: 100vh;
    width: 60px;
    right: -60px;
}
.open-close-icon{
    padding: 20px 17px;
}
.text-dark {
    transition: all 0.3s ease;
}
.text-dark:hover{
    color: black !important;
}
.link {
    position: relative;
    transition: all 0.65s ease;
    top: 200px;
}
.footer {
    position: relative;
    transition: all 0.9s ease;
    right: 250px;
}
.searchinput {
    background-color: rgb(21, 23, 26) !important;
    color: white !important;
}
.searchinput::placeholder{
    color: rgba(255, 255, 255, 0.4) !important;
}

/* categories */
.item{
    cursor: pointer;
    max-height: 300px;
}
.layer {
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    transition: all 0.5s ease;
}
.item p{
    font-size: 16px;
}
.item:hover .layer {
    top: 0;
}
.loading-screen {
    background-color: hsla(0, 0%, 0%, 0.3);
    margin: 0;
    display: flex;
}

@media screen and (max-width: 600px) {
    .container {
    padding-left: 72px !important;
    }
    .contactUs{
    width: 100% !important;
    padding-left: 85px;
    }
}